* {
    font-family: Inter;
}
.font-size-50 {
    font-size: 50px;
}
.p-point-seven {
    padding: 0.7rem!important;
}
.h-200 {
    height: 80px;
}
.w-120 {
    width: 120px;
}
.h-half {
    height: 0.5rem;
}
.rotate-90 {
    transform: rotate(-90deg);
}
.blue-1 {
    color: #319cea;
}
.blue-2 {
    color: #4e96ca;
}
.blue-3 {
    color: #7197b3;
}
.bg-green {
    background-color: #3ed319;
}
.bg-blue {
    background-color: #7fbde0;
}
.profile {
    display: flex;
    justify-content: flex-end;
}
.profile + div {
    left: 78%!important;
}
.img-icon {
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.day:active {
    font-weight: bold;
}
.d-contents {
    display: contents;
}
@media screen and (max-width:700px) {
    .profile + div {
        left: 25%!important;
    }
}
@media screen and (max-width:1000px) and (min-width:700px) {
    .profile + div {
        left: 45%!important;
    }
}


.wrapper {
    display: flex;
    text-decoration: none;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}
#sidebar .active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 5px 0px;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li.active>a , a[aria-expanded="true"] {
    color: black;
}

a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

